name: Deploy to Render

on:
  push:
    branches:
      - main # Change this to your deployment branch if different

permissions:
  deployments: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to Render
        uses: givemomentum/render-deploy@v1.5.1
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_KEY }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deployment-environment: 'Render' # Renamed for a cleaner look
          wait-for-deploy: true
